ControlCalidad/AccesoExterno/Connected Services/ReferenciaServicio/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Servicio.Entidades" />
  <xs:element name="Autenticar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="AutenticarResult" nillable="true" type="q1:AutenticarDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sesion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CerrarSesionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CerrarSesionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOPs">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarOPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="ListarOPsResult" nillable="true" type="q2:ArrayOfOPDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReanudarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReanudarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReanudarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinalizarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FinalizarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PausarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PausarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PausarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetModelosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="GetModelosResult" nillable="true" type="q3:ArrayOfModeloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="GetColoresResult" nillable="true" type="q4:ArrayOfColorDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineasLibres">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLineasLibresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="GetLineasLibresResult" nillable="true" type="q5:ArrayOfLineaTrabajoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlarOPsTodasFinalizadas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ControlarOPsTodasFinalizadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ControlarOPsTodasFinalizadasResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
        <xs:element minOccurs="0" name="linea" type="xs:int" />
        <xs:element minOccurs="0" name="modelo" type="xs:int" />
        <xs:element minOccurs="0" name="color" type="xs:int" />
        <xs:element minOccurs="0" name="empleado" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IniciarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IniciarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOPs">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaOPsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="ListaOPsResult" nillable="true" type="q6:ArrayOfOPDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AptoCargarHermanado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AptoCargarHermanadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AptoCargarHermanadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="GetOPResult" nillable="true" type="q7:OPDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarHermanado">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hermanado" type="xs:int" />
        <xs:element minOccurs="0" name="op" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CargarHermanadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CargarHermanadoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" type="xs:int" />
        <xs:element minOccurs="0" name="supervisor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsociarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AsociarOPResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDefectos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarTipoDefectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="ListarTipoDefectosResult" nillable="true" type="q8:ArrayOfTipoDefectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarInspeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOP" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="defectos" nillable="true" type="q9:ArrayOfDefectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarInspeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarInspeccionResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesasociarOP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DesasociarOPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DesasociarOPResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularObjetivo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcularObjetivoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcularObjetivoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContarPrimeraEnTurno">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContarPrimeraEnTurnoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ContarPrimeraEnTurnoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopDefectos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroOP" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TopDefectosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TopDefectosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInspeccion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInspeccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="GetInspeccionResult" nillable="true" type="q10:InspeccionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefecto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDefectoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Servicio.Entidades" minOccurs="0" name="GetDefectoResult" nillable="true" type="q11:DefectoDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>