ControlCalidad/AccesoExterno/Connected Services/ReferenciaServicio/Servicio.Entidades.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AutenticarDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cargo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Empleado" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sesion" type="xs:int" />
      <xs:element minOccurs="0" name="Usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutenticarDTO" nillable="true" type="tns:AutenticarDTO" />
  <xs:complexType name="ArrayOfOPDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPDTO" nillable="true" type="tns:OPDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPDTO" nillable="true" type="tns:ArrayOfOPDTO" />
  <xs:complexType name="OPDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Color" type="xs:int" />
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Hermanado" type="xs:int" />
      <xs:element minOccurs="0" name="Linea" type="xs:int" />
      <xs:element minOccurs="0" name="Modelo" type="xs:int" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="Supervisor" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPDTO" nillable="true" type="tns:OPDTO" />
  <xs:complexType name="ArrayOfModeloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModeloDTO" nillable="true" type="tns:ModeloDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModeloDTO" nillable="true" type="tns:ArrayOfModeloDTO" />
  <xs:complexType name="ModeloDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Denominacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Objetivo" type="xs:int" />
      <xs:element minOccurs="0" name="SKU" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModeloDTO" nillable="true" type="tns:ModeloDTO" />
  <xs:complexType name="ArrayOfColorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorDTO" nillable="true" type="tns:ColorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorDTO" nillable="true" type="tns:ArrayOfColorDTO" />
  <xs:complexType name="ColorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Codigo" type="xs:int" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorDTO" nillable="true" type="tns:ColorDTO" />
  <xs:complexType name="ArrayOfLineaTrabajoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LineaTrabajoDTO" nillable="true" type="tns:LineaTrabajoDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLineaTrabajoDTO" nillable="true" type="tns:ArrayOfLineaTrabajoDTO" />
  <xs:complexType name="LineaTrabajoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LineaTrabajoDTO" nillable="true" type="tns:LineaTrabajoDTO" />
</xs:schema>